body {
    background: #fff;
    color: #666;
    font-family: 'Droid Serif', Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    margin: .45em 0;
    padding: 0;
}

#builder {
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

canvas {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    width: 400px;
    height: 400px;
}

#upload-render {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    object-fit: fill;
}

#gallery {
    width: 100%;
    height: 300px;
}

video {
    object-fit: fill;
    /*width: 320px;
    height: 375px;*/
}

.delete-gallery {
    font-size: 1.8vh;
    color: red;
    cursor: pointer;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#tabsOptions {
    margin-bottom: 15px;
}

#tabsOptions a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 15px 7px;
    border: 1px solid #5ec79e;
    border-bottom: 0;
    color: #999;
}

#tabsOptions a:hover {
    text-decoration: underline;
}

#tabsOptions a.active {
    background: #5ec79e;
    color: white;
}

.tab-content,
.tab-inner_content {
    border: 1px solid #5ec79e;
    padding: 10px 50px;
    display: none;
}

.tab-content.alive,
.tab-inner_content.active {
    display: block;
}

.thumb {
    background: url("/public/img/thumb.png") no-repeat;
    width: 18px;
    height: 18px;
    border: none;
}

.chat {
    background: url("/public/img/chat.png") no-repeat;
    width: 18px;
    height: 18px;
    border: none;
}

.comment-block {
    text-align: left;
    margin-bottom: 15px;
    margin-top:2px;
}

.comment-content {
    border: 1px solid #5ec79e;
    border-radius: 3px;
    padding: 5px;
}

#gallery .gallery-item-capture {
    font-size: 1.8vh;
    padding: 0 6px;
    float: left;
    width: 33%;
    margin-top: 12px;
}

.gallery-item-capture {
    padding: 0 6px;
    float: left;
    width: 50%;
}

.gallery {
    border: 1px solid #b4b4b4;
}

.gallery:hover {
    border: 1px solid #4c4c4c;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 5px;
    text-align: left    ;
}

a,
a:visited,
a:active,
a:hover {
    color: #0099ff;
}

a:hover {
    text-decoration: none;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.wrapper {
    width: 92%;
    margin: 0 auto;
}

header {
    padding: 15px 0;
}

#banner {
    text-align: center;
}

#hero,
#page-header {
    background: #f3f3f3;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    padding: 20px 0;
    font-size: 1.1em;
}

#page-header h1 {
    margin: 0;
}

.flexslider {
    display: none;
}

#content,
aside,
.vertical-padding {
    padding: 40px 0;
}

p {
    margin: 0 0 1.5em;
}

img {
    max-width: 100%;
    height: auto;
}

.srt-menu, .srt-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.srt-menu ul {
    position: absolute;
    display: none;
    width: 12em; /* left offset of submenus need to match (see below) */
}

.srt-menu ul li {
    width: 100%;
}

.srt-menu li:hover {
    visibility: inherit; /* fixes IE7 'sticky bug' */
}

.srt-menu li {
    float: left;
    position: relative;
    margin-left: 1px;
    height: 25px;
}

.srt-menu li li {
    margin-left: 0px;
    height: auto;
}

.srt-menu a {
    display: block;
    position: relative;
}

.srt-menu li:hover ul,
.srt-menu li.sfHover ul {
    display: block;
    left: 0;
    top: 42px; /* match top ul list item height */
    z-index: 99;
    -webkit-box-shadow: 2px 3px 2px 0px rgba(00, 00, 00, .3);
    box-shadow: 2px 3px 2px 0px rgba(00, 00, 00, .3);
}

ul.srt-menu li:hover li ul,
ul.srt-menu li.sfHover li ul {
    top: -999em;
}

ul.srt-menu li li:hover ul,
ul.srt-menu li li.sfHover ul {
    left: 12em; /* match ul width */
    top: 0;
}

ul.srt-menu li li:hover li ul,
ul.srt-menu li li.sfHover li ul {
    top: -999em;
}

ul.srt-menu li li li:hover ul,
ul.srt-menu li li li.sfHover ul {
    left: 10em; /* match ul width */
    top: 0;
}

#topnav, .srt-menu {
    float: right;
    margin: .35em 0 0 0;
}

.srt-menu a {
    text-decoration: none;
}

.srt-menu li a {
    background: #fff;
    margin: 0;
    padding: 10px 20px;
}

.srt-menu a, .srt-menu a:visited {
    color: #666;
}

.srt-menu li li a {
    border-top: 1px solid rgba(255, 255, 255, .2);
    background: #333; /*fallback for old IE*/
    background: rgba(0, 0, 0, .6);
    color: #fff;
    padding-left: 20px;
}

.srt-menu li li a:visited {
    color: #fff;
}

.srt-menu li li li a,
.srt-menu li.current * li a {
    padding-left: 20px;
    background: rgba(0, 0, 0, .6);
}

.srt-menu li:hover > a,
.srt-menu li.current a {
    color: #fff;
    background: #5ec79e;
}

.srt-menu li li:hover > a {
    color: #fff;
    background: #5ec79e;
}

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
    margin-bottom: 40px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

/*FOOTER*/
footer {
    background: #333;
    color: #ccc;
    font-size: 80%;
    padding: 20px 0;
}

footer ul {
    margin: 0 0 0 8%;
    padding: 0;
}

a.buttonlink {
    background: #5ec79e;
    border-radius: 7px;
    color: #fff;
    display: block;
    float: left;
    margin: 10px 15px 10px 0;
    padding: 10px;
    text-decoration: none;
}

a.buttonlink:hover {
    background: #887dc2;
}

.greenelement {
    background: #5ec79e;
    color: #fff;
}

.violetelement {
    background: #887dc2;
    color: #fff;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: " ";
    display: table;
}

.clearfix:after,
.container:after,
.row:after {
    clear: both;
}

/****************************************
*****************************************
MEDIAQUERIES
*****************************************
****************************************/

@media only screen and (min-width: 481px) {
    #banner {
        float: left;
        text-align: left;
        margin-bottom: -20px;
    }

}

@media only screen and (min-width: 920px) {

    .wrapper {
        max-width: 1200px;
        margin: .75em auto;
    }

    header {
        padding: 0;
    }

    #banner {
        float: left;
        text-align: left;
        margin-bottom: 0px;
        margin-top: 5px;
    }

    #hero {
        padding: 0;
    }

    #content {
        float: left;
        width: 65%;
    }

    #content.wide-content {
        float: none;
        width: 100%;
    }

    .flexslider {
        display: block;
        margin: 0;
    }

    .flex-control-nav {
        bottom: 5px;
    }

    aside {
        float: right;
        width: 30%;
    }

    .row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .grid_1 {
        width: 8.33333333%;
    }

    .grid_2 {
        width: 16.66666667%;
    }

    .grid_3 {
        width: 25%;
    }

    .grid_4 {
        width: 33.33333333%;
    }

    .grid_5 {
        width: 41.66666667%;
    }

    .grid_6 {
        width: 50%;
    }

    .grid_7 {
        width: 58.33333333%;
    }

    .grid_8 {
        width: 66.66666667%;
    }

    .grid_9 {
        width: 75%;
    }

    .grid_10 {
        width: 83.33333333%;
    }

    .grid_11 {
        width: 91.66666667%;
    }

    .grid_12 {
        width: 100%;
    }

    .grid_1,
    .grid_2,
    .grid_3,
    .grid_4,
    .grid_5,
    .grid_6,
    .grid_7,
    .grid_8,
    .grid_9,
    .grid_10,
    .grid_11,
    .grid_12 {
        float: left;
        display: block;
    }

    .rightfloat {
        float: right;
    }

    #hero .grid_8 {
        margin: 40px 0 -13px;
    }

}

@media only screen and (min-width: 1024px) {

    #hero h1 {
        font-size: 1.4em;
    }


}

@media only screen and (min-width: 1240px) {
    #hero h1 {
        font-size: 2em;
    }

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {

}


@media print {
    * {
        background: transparent !important;
        color: black !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
    }

    /* Black prints faster: h5bp.com/s */
    a, a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }

    /* Don't show links for images, or javascript/internal links */
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    /* h5bp.com/t */
    tr, img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    h2, h3 {
        page-break-after: avoid;
    }
}