@import url('https://fonts.googleapis.com/css?family=Lobster|Saira+Extra+Condensed');

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    background: url("/public/img/bg_repeat.jpg");
    font-family: 'Saira Extra Condensed', sans-serif;
    width: 100%;
}

#alertDatas {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 20%;
}

.alert {
    font-family: 'Droid Serif', sans-serif;
    position: relative;
    cursor: pointer;
    margin: 0 8px 8px 0;
    padding: 20px;
    z-index: 10000;
    color: white;
    opacity: 0.85;
    font-size: 16px;
    -webkit-transition: opacity 1000ms linear;
    transition: opacity 1000ms linear;
}

.alert:hover {
    opacity: 0.5;
}

.alert.error {
    background-color: #f44336;
}

.alert.success {
    background-color: #3cb63f;
}
