@font-face {
    font-family: 'FontomasCustomRegular';
    src: url('/public/fonts/fontomas-webfont.eot');
    src: url('/public/fonts/fontomas-webfont.eot?#iefix') format('embedded-opentype'),
    url('/public/fonts/fontomas-webfont.woff') format('woff'),
    url('/public/fonts/fontomas-webfont.ttf') format('truetype'),
    url('/public/fonts/fontomas-webfont.svg#FontomasCustomRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

label {
    color: rgb(64, 92, 96);
    position: relative;
}

::-webkit-input-placeholder  {
    color: rgb(190, 188, 188);
    font-style: italic;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: rgb(190, 188, 188);
    font-style: italic;
}

input {
    outline: none;
}

input:disabled {
    pointer-events:none;
    opacity: 0.3;
}

input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="range"]) {
    width: calc(100% - 40px);
    margin-top: 4px;
    padding: 10px 0 10px 40px;
    border: 1px solid rgb(178, 178, 178);
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing : content-box;
    box-sizing : content-box;
}

input[type="range"] {
    width: 100%;
    padding: 10px 0 10px 10px;
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing : content-box;
    box-sizing : content-box;
}


input:not([type="checkbox"]):not([type="range"]):not([type="button"]):not([type="submit"]):active,
input:not([type="checkbox"]):not([type="range"]):not([type="button"]):not([type="submit"]):focus {
    border: 1px solid rgba(91, 90, 90, 0.7);
    background: rgba(238, 236, 240, 0.2);
    -webkit-box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.9) inset;
    -moz-box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.9) inset;
    box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.9) inset;
}

input.button {
    width: 100%;
    margin-top: 4px;
    padding: 10px 0 10px 0;
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing : content-box;
    box-sizing : content-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6) inset;
    -moz-box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6) inset;
    cursor: pointer;
    background: rgb(76, 102, 105);
    color: #fff;
    font-size: 24px;
    border: 1px solid rgb(28, 108, 122);
    margin-bottom: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

input.button:hover {
    background: rgb(117, 147, 150);
}

input.button:active, input.button:focus {
    background: rgb(76, 102, 105);
    border: 1px solid rgb(12, 76, 87);
    -webkit-box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}

[data-icon]:after {
    content: attr(data-icon);
    font-family: 'FontomasCustomRegular', sans-serif;
    color: rgb(89, 116, 112);
    position: absolute;
    left: 10px;
    top: 40px;
    width: 22px;
    border-right: 1px solid #afafaf;
}

input[name="icons"] {
    visibility: hidden;
    position: absolute;
}