#logo {
    margin: 0 auto;
    width: 590px;
    height:193px;
    background: url("/public/img/logo.png") no-repeat top center;
}

#logo:hover {
    background: url("/public/img/logo_hover.png") no-repeat top center;
}

.form-start {
    margin: 30px auto;
    width: 450px;
    padding: 20px;
    background: rgb(247, 247, 247);
    border: 1px solid rgba(147, 184, 189,0.8);
    -moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.form-start a {
    color: rgb(95, 155, 198);
    text-decoration: underline;
}

.form-start h1 {
    font-size: 52px;
    color: rgb(6, 106, 117);
    padding: 2px 0 10px 0;
    font-family: 'Lobster', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

.form-start h1 {
    background: -webkit-repeating-linear-gradient(-45deg,
    rgb(70, 89, 90),
    rgb(70, 89, 90) 20px,
    rgb(89, 116, 112) 20px,
    rgb(89, 116, 112) 40px,
    rgb(70, 89, 90) 40px);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.form-start h1:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -moz-linear-gradient(left, rgba(147,184,189,0) 0%, rgba(147,184,189,0.8) 20%, rgba(147,184,189,1) 53%, rgba(147,184,189,0.8) 79%, rgba(147,184,189,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(147,184,189,0)), color-stop(20%,rgba(147,184,189,0.8)), color-stop(53%,rgba(147,184,189,1)), color-stop(79%,rgba(147,184,189,0.8)), color-stop(100%,rgba(147,184,189,0)));
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
    background: -o-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
    background: -ms-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
}

.select-group,
.submit-group,
.input-group {
    margin-bottom:15px;
}